/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

body {
	line-height: 1.5;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }


/* --------------------------------------------------------------

   vizard.css
   * core Vizard CSS.

-------------------------------------------------------------- */

#display {
	display: none;
}
#overlay {
	background: url('data:image/gif,GIF89a%01%00%01%00%91%FF%00%FF%FF%FF%00%00%00%C0%C0%C0%00%00%00!%F9%04%01%00%00%02%00%2C%00%00%00%00%01%00%01%00%00%02%02T%01%00%3B') no-repeat;
}
#display, #overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}
#overlay a {
	display: block;
	position: absolute;
}
.layer {
	background-color: rgba(127, 127, 127, 0.5);
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.layer-container {
	position: absolute;
}
.control-hover {
	opacity:0.5;
	filter:alpha(opacity=50);
	background-color: rgb(255, 0, 0);
}
.navigation-editor {
	background-color: white;
}
.table-editor {
	background-color: white;
}
.table-editor td {
	cursor: pointer;
	padding: 5px;
}
.table-editor input {
	background-color: transparent;
	border: none;
	outline: none;
}
.prompt {
	background: white;
	background-color: #333;
	width: 300px;
	display: block;
	position: relative;
}
.prompt label {
	color: white;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	display: block;
	font-weight: bold;
	padding: 2px 4px;
	letter-spacing: 1px;
}
.prompt textarea {
	border: none;
	display: block;
	padding: 2px 4px;
	height: 100px;
	width: 292px;
	resize: none;
	outline: none;
}
.prompt .controls {
	padding: 3px;
	text-align: center;
}
.disabled #toolbar {
	display: none;
}
#spinner {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left: 50%;
	margin-left: -16px;
}

#toolbar {
	background-color: rgb(166,166,166);
	background-color: rgba(127,127,127,0.5);
	position: fixed;
	height: 32px;
	top: -24px;
	right: 0;
	left: 0;
	padding: 0 4px;
}
#toolbar.active {
	background-color: rgba(127,127,127,0.85);
	top: 0;
}
#toolbar a {
	display: block;
	float: left;
	margin: 2px 4px;
}
